.country {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #c23737;
  color: black;
  border: 2px solid rgb(185, 151, 230);
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  
}
.country img {
  width: 100%;
  max-width: 320px;
  height: 200px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}


.gap-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.country-visited {
  background-color: lightcoral;
}
